$grey-500: #1f1f2e;
$grey-400: #29293d;
$grey-300: #33334d;
$grey-200: #3d3d5c;
$grey-100: #47476b;

$blue-400: #1b3a98;
$blue-300: #1f42ad;
$blue-200: #224bc3;
$blue-100: #3c64dd;

$white-300: #5c5c8a;
$white-200: #c2c2d6;
$white-100: #e0e0eb;
